<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <title>{{pageTitle}}{{#if pageSubtitle}} – {{pageSubtitle}}{{/if}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{#block "description"}}{{/block}}">

        <link rel="stylesheet" href="{{asset "styles.css"}}">
        <link rel="icon" href="{{asset "favicon.png"}}" type="image/png">

        <meta property="og:title" content="andre487">
        <meta property="og:description" content="{{socialText}}">
        <meta property="og:image" content="/assets/{{socialPic}}">
        <meta property="og:url" content="{{urlFor page}}">

        <meta name="twitter:title" content="andre487">
        <meta name="twitter:site" content="@Andre_487">
        <meta name="twitter:description" content="{{socialText}}">
        <meta name="twitter:image" content="/assets/{{socialPic}}">
        <meta name="twitter:card" content="summary">

        <meta http-equiv="Content-Security-Policy" content="
            default-src 'none';
            style-src 'self';
            img-src 'self' https://mc.yandex.ru https://i.ytimg.com;
            script-src https://mc.yandex.ru;
            connect-src https://mc.yandex.ru;
            child-src blob: https://mc.yandex.ru;
            frame-src blob: https://mc.yandex.ru;
        ">

        {{#block "head"}}{{/block}}
    </head>
    <body>
        <header class="summary document-section">
            <h1 class="document-section__header {{#if headerNoMargin}}document-section__header_no-margin{{/if}}">
                {{pageHeader}}
            </h1>
            {{#ifNotEquals page "index"}}
                <div class="back-link-container">
                    <a class="back-link" href="{{urlFor "index"}}">←</a>
                </div>
            {{/ifNotEquals}}
            {{#if summary}}
                <p class="summary__text">{{{summary}}}</p>
            {{/if}}
        </header>

        {{#block "content"}}{{/block}}
    </body>
</html>
