<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <title>{{pageTitle}}{{#if pageSubtitle}} – {{pageSubtitle}}{{/if}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{#block "description"}}{{/block}}">

        <link rel="stylesheet" href="{{asset "styles.css"}}">
        <link rel="icon" href="{{asset "favicon.png"}}" type="image/png">
        <link rel="shortcut icon" href="{{asset "favicon.png"}}" type="image/png">

        <meta property="og:title" content="andre487">
        <meta property="og:description" content="{{socialText}}">
        <meta property="og:image" content="{{asset socialPic}}">
        <meta property="og:url" content="{{urlFor page}}">

        <meta name="twitter:title" content="andre487">
        <meta name="twitter:description" content="{{socialText}}">
        <meta name="twitter:image" content="{{asset socialPic}}">
        <meta name="twitter:card" content="summary">

        <meta http-equiv="Content-Security-Policy" content="
            default-src 'none';
            style-src 'self';
            img-src 'self' https://mc.yandex.ru https://i.ytimg.com;
            script-src https://mc.yandex.ru;
            connect-src https://mc.yandex.ru;
            child-src blob: https://mc.yandex.ru;
            frame-src blob: https://mc.yandex.ru;
        ">

        {{#block "head"}}{{/block}}
    </head>
    <body>
        <header class="summary document-section">
            <h1 class="document-section__header {{#if headerNoMargin}}document-section__header_no-margin{{/if}}">
                {{pageHeader}}
            </h1>
            {{#ifNotEquals page "index"}}
                <div class="back-link-container">
                    <a class="back-link" href="{{urlFor "index"}}">←</a>
                </div>
            {{/ifNotEquals}}
            {{#if summary}}
                <p class="summary__text">{{{summary}}}</p>
            {{/if}}
        </header>

        {{#block "content"}}{{/block}}

        {{#if addMetrika}}
            <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
                (function(d, w, c) {
                    (w[c] = w[c] || []).push(function() {
                        try {
                            w.yaCounter32861550 = new Ya.Metrika({
                                id: 32861550,
                                clickmap: true,
                                trackLinks: true,
                                accurateTrackBounce: true,
                                trackHash: true
                            });
                        } catch (e) { }
                    });

                    var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function() { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = "https://mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript>
                <div><img src="https://mc.yandex.ru/watch/32861550" style="position:absolute; left:-9999px;" alt="" />
                </div>
            </noscript>
            <!-- /Yandex.Metrika counter -->
        {{/if}}
    </body>
</html>
