<!DOCTYPE html>
<html lang="{{lang}}" prefix="og: http://ogp.me/ns#">
    <head>
        <title>{{pageTitle}}{{#if pageSubtitle}} – {{pageSubtitle}}{{/if}}</title>
        <meta charset="utf-8">
        <!--suppress HtmlWrongAttributeValue -->
        <meta http-equiv="X-XSS-Protection" content="1; mode=block">
        <!--suppress HtmlWrongAttributeValue -->
        <meta http-equiv="X-Content-Type-Options" content="nosniff">
        <!--suppress HtmlWrongAttributeValue -->
        <meta http-equiv="X-Powered-By" content="a/487; 4.8.15.16.23.42">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{#block "description"}}{{/block}}">

        <link rel="stylesheet" href="{{asset "styles.css"}}">
        <link rel="icon" href="{{asset "favicon.png"}}" type="image/png">

        <meta property="og:title" content="andre487">
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{socialText}}">
        <meta property="og:image" content="https://andre.life{{asset socialPic}}">
        <meta property="og:url" content="{{urlFor page}}">

        <meta name="twitter:title" content="andre487">
        <meta name="twitter:site" content="@Andre_487">
        <meta name="twitter:description" content="{{socialText}}">
        <meta name="twitter:image" content="https://andre.life{{asset socialPic}}">
        <meta name="twitter:card" content="summary">

        <!-- TODO: Get rid of style-src: 'unsafe-inline' -->
        <meta http-equiv="Content-Security-Policy" content="
            default-src 'none';
            style-src 'self' 'unsafe-inline' https://mc.yandex.ru;
            img-src 'self' https://mc.yandex.ru;
            script-src https://mc.yandex.ru https://yastatic.net;
            connect-src https://mc.yandex.ru;
            child-src blob: https://mc.yandex.ru;
            frame-src blob: https://mc.yandex.ru;
        ">

        <style id="anti-click-jack">
            .b-page {
                display: none !important;
            }
        </style>

        <!--suppress JSCheckFunctionSignatures -->
        <script>
            (function(self, top, document) {
                if (self === top) {
                    var antiClickJack = document.getElementById('anti-click-jack');
                    return antiClickJack.parentNode.removeChild(antiClickJack);
                }

                document.addEventListener('DOMContentLoaded', function() {
                    var container = document.createElement('div');
                    var className = container.className = 'frame-denied';
                    // noinspection HtmlUnknownTarget
                    container.innerHTML = [
                        '<h1>Frame denied</h1>',
                        "<p>This page has been loaded in a frame now. It's dangerous and restricted.",
                        '<p><button id=goto-top-frame>Open page without frame</button>',
                        '<p><img alt=Restricted src=/assets/restricted.jpg width=300 height=300>',
                    ].join('');
                    document.body.appendChild(container);

                    var button = document.getElementById('goto-top-frame');
                    if (button) {
                        button.onclick = function() {
                            try {
                                var url = new URL(self.location.href);
                                url.searchParams.set('utm_source', className);
                                top.location = url.toString();
                            } catch (e) {
                                top.location = self.location;
                            }
                        };
                    }
                });
            })(self, top, document);
        </script>

        {{#block "head"}}{{/block}}
    </head>
    <body>
        <div class="b-page">
            <header class="summary document-section">
                <h1 class="document-section__header {{#if headerNoMargin}}document-section__header_no-margin{{/if}}">
                    {{pageHeader}}
                </h1>
                {{#ifNotEquals page "index"}}
                    <div class="back-link-container">
                        <a class="back-link" href="{{urlFor "index"}}">←</a>
                    </div>
                {{/ifNotEquals}}
                {{#if summary}}
                    <p class="summary__text">{{{summary}}}</p>
                {{/if}}
            </header>

            {{#block "content"}}{{/block}}

            {{#if addMetrika}}
                <!--suppress JSUnresolvedReference, CommaExpressionJS, JSValidateTypes -->
                <!-- Yandex.Metrika counter -->
                <script type="text/javascript">
                    (function(m, e, t, r, i, k, a) {
                        m[i] = m[i] || function() {(m[i].a = m[i].a || []).push(arguments);};
                        m[i].l = 1 * new Date();
                        for (var j = 0; j < document.scripts.length; j++) {
                            if (document.scripts[j].src === r) { return; }
                        }
                        k = e.createElement(t), a = e.getElementsByTagName(
                                t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a);
                    })
                    (window, document, 'script', 'https://mc.yandex.ru/metrika/tag.js', 'ym');

                    ym(32861550, 'init', {
                        clickmap: false,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        trackHash: true,
                    });
                </script>
                <noscript>
                    <div><img src="https://mc.yandex.ru/watch/32861550" style="position:absolute; left:-9999px;"
                              alt="" /></div>
                </noscript>
                <!-- /Yandex.Metrika counter -->
            {{/if}}
        </div>
    </body>
</html>
