<!DOCTYPE html>
<html lang="{{lang}}" prefix="og: http://ogp.me/ns#">
    <head>
        <title>{{pageTitle}}{{#if pageSubtitle}} – {{pageSubtitle}}{{/if}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{#block "description"}}{{/block}}">

        <link rel="stylesheet" href="{{asset "styles.css"}}">
        <link rel="icon" href="{{asset "favicon.png"}}" type="image/png">

        <meta property="og:title" content="andre487">
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{socialText}}">
        <meta property="og:image" content="https://andre.life{{asset socialPic}}">
        <meta property="og:url" content="{{urlFor page}}">

        <meta name="twitter:title" content="andre487">
        <meta name="twitter:site" content="@Andre_487">
        <meta name="twitter:description" content="{{socialText}}">
        <meta name="twitter:image" content="https://andre.life{{asset socialPic}}">
        <meta name="twitter:card" content="summary">

        <meta http-equiv="Content-Security-Policy" content="
            default-src 'none';
            style-src 'self' https://mc.webvisor.com https://mc.webvisor.org;
            img-src 'self' https://mc.yandex.ru https://mc.webvisor.com https://mc.webvisor.org https://i.ytimg.com;
            script-src https://mc.yandex.ru https://mc.webvisor.com https://mc.webvisor.org;
            connect-src https://mc.yandex.ru https://mc.webvisor.com https://mc.webvisor.org;
            child-src blob: https://mc.yandex.ru https://mc.webvisor.com https://mc.webvisor.org;
            frame-src blob: https://mc.yandex.ru https://mc.webvisor.com https://mc.webvisor.org;
        ">

        {{#block "head"}}{{/block}}
    </head>
    <body>
        <header class="summary document-section">
            <h1 class="document-section__header {{#if headerNoMargin}}document-section__header_no-margin{{/if}}">
                {{pageHeader}}
            </h1>
            {{#ifNotEquals page "index"}}
                <div class="back-link-container">
                    <a class="back-link" href="{{urlFor "index"}}">←</a>
                </div>
            {{/ifNotEquals}}
            {{#if summary}}
                <p class="summary__text">{{{summary}}}</p>
            {{/if}}
        </header>

        {{#block "content"}}{{/block}}

        {{#if addMetrika}}
            <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(32861550, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script> <noscript><div><img src="https://mc.yandex.ru/watch/32861550" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
        {{/if}}
    </body>
</html>
