{{#extend "layout" page="index"}}
    {{#content "head"}}
        <meta name="google-site-verification" content="R71LZgXmhewXH4QOZl3IzTLY7iM7b2cq_rs7IQZIdzY" />
    {{/content}}

    {{#content "description"}}A home page of Andrey Prokopyuk{{/content}}

    {{#content "head"}}
        <link rel="stylesheet" href="{{asset "index.css"}}">
    {{/content}}

    {{#content "content"}}
        <section class="document-section">
            <header>
                <h2 class="document-section__header">
                    <a id="follow-links" href="#follow-links" class="anchor-link">
                        Follow&nbsp;me&nbsp;on
                    </a>
                </h2>
            </header>
            <ul>
                {{#each socialNetworks}}
                    <li>
                        {{this.title}}:
                        <a href="{{this.url}}" target="_blank" rel="noopener">
                            {{this.login}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </section>

        <section class="document-section">
            <a id="wish-list" href="#wish-list" class="anchor-link">
                <!--suppress HtmlUnknownTarget -->
                I have a&nbsp;<a href="wish-list.html">wish list</a>
            </a>
        </section>

        <!--<section class="document-section" lang="ru">
            <header>
                <h2 class="document-section__header">
                    <a id="twitter-threads" href="#twitter-threads" class="anchor-link">
                        Пространные рассказы в&nbsp;Твиттере
                    </a>
                </h2>
            </header>
            <ul class="twitter-threads">
                {{#each twitterThreads}}
                    <li>
                        <span class="twitter-threads__published">{{this.published}}</span>
                        <a href="{{this.link}}" target="_blank" rel="noopener">
                            {{{this.title}}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </section>-->

        <section class="document-section" lang="ru">
            <header>
                <h2 class="document-section__header">
                    <a id="tech-talks" href="#tech-talks" class="anchor-link">
                        Технические выступления
                    </a>
                </h2>
            </header>
            <ul class="tech-talks">
                {{#each techTalks}}
                    <li class="tech-talks__item">
                        <a href="{{this.link}}" class="tech-talks__link_pic" target="_blank" rel="noopener">
                            <img src="{{this.pic.url}}" alt='Картинка для доклада "{{this.title}}"' width="{{this.pic.width}}" height="{{this.pic.height}}">
                        </a>
                        <a href="{{this.link}}" class="tech-talks__link_title" target="_blank" rel="noopener">
                            <h3 class="tech-talks__header">{{this.title}}</h3>
                        </a>
                        <div class="tech-talks__published">
                            {{this.published}}
                        </div>
                        <div class="tech-talks__description">
                            {{#each this.description}}
                                <p class="tech-talks__paragraph">{{{this}}}</p>
                            {{/each}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        </section>
    {{/content}}
{{/extend}}
