{{#extend "layout" page="index"}}
    {{#content "head"}}
        <meta name="google-site-verification" content="R71LZgXmhewXH4QOZl3IzTLY7iM7b2cq_rs7IQZIdzY" />
    {{/content}}

    {{#content "description"}}A home page of Andrey Prokopyuk{{/content}}

    {{#content "head"}}
        <link rel="stylesheet" href="{{asset "index.css"}}">
    {{/content}}

    {{#content "content"}}
        <section class="document-section">
            <header>
                <h2 class="document-section__header">
                    <a id="follow-links" href="#follow-links" class="anchor-link">
                        Follow&nbsp;me&nbsp;on
                    </a>
                </h2>
            </header>
            <ul>
                {{#each socialNetworks}}
                    <li>
                        <a href="{{this.url}}" target="_blank" rel="noopener" title="{{this.login}}">
                            {{this.title}}
                        </a>
                    </li>
                {{/each}}
            </ul>
        </section>

        <section class="document-section" lang="ru">
            <header>
                <h2 class="document-section__header">
                    <a id="literature" href="#literature" class="anchor-link">
                        Литература
                    </a>
                </h2>
            </header>
            <ul class="literature" id="literature-container">
                {{#each literature}}
                    <li class="literature__item">
                        <article class="literature__story">
                            <h3 class="literature__title">
                                {{{this.title}}}
                            </h3>
                            <img
                                class="literature__cover"
                                src="{{storyCover this.cover}}"
                                alt='Обложка для книги "{{{this.title}}}"'
                                width="180"
                                height="180">
                            <div class="literature__info">
                                <div class="literature__published {{#if this.audio}}literature__published_audio{{/if}}">
                                    {{this.published}}
                                    {{#if this.audio}}
                                        <span title="Доступна аудиокнига">
                                            <svg class="literature__audiobook-pic"
                                                 alt="Доступна аудиокнига"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 viewBox="0 0 64 64"
                                                 width="128"
                                                 height="128"
                                                 fill="none"
                                                 stroke="currentColor"
                                                 stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <path d="M10 12h32v40H10zm0 0v40m32-40v40M14 18h24m-24 4h24m-24 4h24m-24 4h24m-24 4h24m-24 4h24m-24 4h24m-24 4h24m10-24c2 2 2 6 0 8m4-12c3 3 3 10 0 13m4-17c4 4 4 14 0 18"/>
                                            </svg>
                                        </span>
                                    {{/if}}
                                </div>
                                <div class="literature__type">
                                    {{{this.type}}}
                                </div>
                                {{#if this.cycle}}
                                    <div class="literature__cycle">
                                        Цикл: {{{this.cycle}}}
                                    </div>
                                {{/if}}
                                <div class="literature__annotation">
                                    {{{this.annotation}}}
                                </div>
                                <ul class="literature__links">
                                    {{#if this.litResLink}}
                                        <li class="literature__links-item">
                                            <a href="{{this.litResLink}}"
                                               class="literature__link literature__link_litres"
                                               target="_blank"
                                               rel="noopener">
                                                LitRes
                                            </a>
                                        </li>
                                    {{/if}}
                                    {{#if this.ozonLink}}
                                        <li class="literature__links-item">
                                            <a href="{{this.ozonLink}}"
                                               class="literature__link literature__link_author-today"
                                               target="_blank"
                                               rel="noopener">
                                                OZON
                                            </a>
                                        </li>
                                    {{/if}}
                                    {{#if this.prozaLink}}
                                        <li class="literature__links-item">
                                            <a href="{{this.prozaLink}}"
                                               class="literature__link literature__link_proza"
                                               target="_blank"
                                               rel="noopener">
                                                Проза.ру
                                            </a>
                                        </li>
                                    {{/if}}
                                    {{#if this.authorTodayLink}}
                                        <li class="literature__links-item">
                                            <a href="{{this.authorTodayLink}}"
                                               class="literature__link literature__link_author-today"
                                               target="_blank"
                                               rel="noopener">
                                                author.today
                                            </a>
                                        </li>
                                    {{/if}}
                                </ul>
                            </div>
                        </article>
                    </li>
                {{/each}}
            </ul>
        </section>

        <section class="document-section">
            <header>
                <h2 class="document-section__header">
                    <a id="links234" href="#links234" class="anchor-link">
                        Links
                    </a>
                </h2>
            </header>
            <ul>
                <li>
                    <a rel="noopener" target="_blank" href="https://life.underlime.net">Underlime Game of Life</a>
                </li>
                <li>
                    <a rel="noopener" target="_blank" href="https://underlime.net">Underlime museum</a>
                </li>
            </ul>
        </section>

        {{#if twitterThreads}}
            <section class="document-section" lang="ru">
                <header>
                    <h2 class="document-section__header">
                        <a id="twitter-threads" href="#twitter-threads" class="anchor-link">
                            Пространные рассказы в&nbsp;Твиттере
                        </a>
                    </h2>
                </header>
                <ul class="twitter-threads">
                    {{#each twitterThreads}}
                        <li>
                            <span class="twitter-threads__published">{{this.published}}</span>
                            <a href="{{this.link}}" target="_blank" rel="noopener">
                                {{{this.title}}}
                            </a>
                        </li>
                    {{/each}}
                </ul>
            </section>
        {{/if}}

        <section class="document-section" lang="ru">
            <header>
                <h2 class="document-section__header">
                    <a id="tech-talks" href="#tech-talks" class="anchor-link">
                        Технические выступления
                    </a>
                </h2>
            </header>
            <ul class="tech-talks">
                {{#each techTalks}}
                    <li class="tech-talks__item">
                        <a href="{{this.link}}" class="tech-talks__link_pic" target="_blank" rel="noopener">
                            <img src="{{asset this.picBaseName}}" alt='Картинка для доклада "{{this.title}}"' width="{{this.pic.width}}" height="{{this.pic.height}}">
                        </a>
                        <a href="{{this.link}}" class="tech-talks__link_title" target="_blank" rel="noopener">
                            <h3 class="tech-talks__header">{{this.title}}</h3>
                        </a>
                        <div class="tech-talks__published">
                            {{this.published}}
                        </div>
                        <div class="tech-talks__description">
                            {{#each this.description}}
                                <p class="tech-talks__paragraph">{{{this}}}</p>
                            {{/each}}
                        </div>
                    </li>
                {{/each}}
            </ul>
        </section>

        <section class="document-section">
            <header>
                <h2 class="document-section__header">
                    <a id="wish-list" href="#wish-list" class="anchor-link">
                        Wish list
                    </a>
                </h2>
            </header>
            <p>
                <!--suppress HtmlUnknownTarget -->
                Yes, I have a&nbsp;<a href="/wish-list.html">wish list</a>
            </p>
        </section>

        {{#if addMetrika}}
            <script>
                document.getElementById('literature-container').addEventListener('click', function(e) {
                    if (typeof ym !== 'function') {
                        return;
                    }

                    var className = e.target.className || '';
                    if (className.indexOf('literature__link') == -1) {
                        return;
                    }

                    if (className.indexOf('literature__link_litres') > -1) {
                        ym(32861550, 'reachGoal', 'LITERATURE_FOLLOW_LITRES');
                    } else if (className.indexOf('literature__link_proza') > -1) {
                        ym(32861550, 'reachGoal', 'LITERATURE_FOLLOW_PROZA');
                    } else if (className.indexOf('literature__link_author-today') > -1) {
                        ym(32861550, 'reachGoal', 'LITERATURE_FOLLOW_AUTHOR_TODAY');
                    } else {
                        ym(32861550, 'reachGoal', 'LITERATURE_FOLLOW_OTHER');
                    }
                });
            </script>
        {{/if}}
    {{/content}}
{{/extend}}
