<!DOCTYPE html>
<html lang="{{lang}}">
    <head>
        <title>
            {{pageTitle}}
            {{#if (lookup pageSubtitle page)}}
                – {{lookup pageSubtitle page}}
            {{/if}}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{asset "styles.css"}}">
        <link rel="shortcut icon" href="{{asset "favicon.ico"}}" type="image/vnd.microsoft.icon">

        <meta property="og:title" content="andre487">
        <meta property="og:description" content="{{lookup socialText page}}">
        <meta property="og:image" content="{{asset (lookup socialPic page)}}">
        <meta property="og:url" content="{{urlFor page}}">

        <meta name="twitter:title" content="andre487">
        <meta name="twitter:description" content="{{lookup socialText page}}">
        <meta name="twitter:image" content="{{asset (lookup socialPic page)}}">
        <meta name="twitter:card" content="summary_large_image">

        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; style-src 'self'; img-src 'self' https://mc.yandex.ru">

        {{#block "head"}}{{/block}}
    </head>
    <body>
        <header class="summary document-section">
            <h1 class="document-section__header {{#if headerNoMargin}}document-section__header_no-margin{{/if}}">
                {{ lookup pageHeader page }}
            </h1>
            {{#ifNotEquals page "index"}}
                <div class="back-link-container">
                    <a href="{{urlFor "index"}}">←</a>
                </div>
            {{/ifNotEquals}}
            {{#if (lookup summary page)}}
                <p class="summary__text">{{{lookup summary page}}}</p>
            {{/if}}
        </header>

        {{#block "content"}}{{/block}}

        <!-- Yandex.Metrika counter -->
        <img src="https://mc.yandex.ru/watch/32861550" class="one-pixel" alt>
        <!-- /Yandex.Metrika counter -->
    </body>
</html>
